<footer class="topnav">
    <div class="footer-copyright">
        <div class="container">
            ARTICLES COURTESY OF <a href='https://www.npr.org/sections/world/' target="_blank">NPR</a>
            <a class="grey-text text-lighten-4 right" href="/articles-json">Article JSON</a>
        </div>
    </div>
</footer>