<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">SCRAPIN' PAPERS NEWS NETWORK</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/scrape" class="waves-effect waves-light btn">NEW ARTICLES</a></li>
      </ul>
    </div>
  </nav>